<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="application/xhtml+xml">
    <title>Hive Gaming</title>
    <link rel="shortcut icon" href="/static/img/logo.ico" type="image/x-icon">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="/static/css/agency.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Hive Gaming</title>
</head>

<body>
    <header class="cd-header">
        <div id="cd-logo">
            <a href="/"><img src="/static/img/logo.png" alt="Logo" width="80px" height="80px"></a>
        </div>
    </header>
    <section id="cd-intro">
        <div id="cd-intro-tagline">
            <h1 id="main-text" class="main-sect">ЗАЛЕТАЙ В HiVE!</h1>
            <a href="http://codyhouse.co/?p=296" class="cd-btn btn">Присоединиться</a>
        </div>
    </section>

    <div class="cd-secondary-nav">
        <a href="/" class="cd-secondary-nav-trigger">Menu<span></span></a>
        <nav>
            <ul>
                <li>
                    <a href="/library">
                        <b>Библиотека</b>
                        <span><img src="/static/img/lib_ico.svg" alt="Logo" width="40px" height="40px"></span>
                    </a>
                </li>
                <li>
                    <a href="/store">
                        <b>Магазин</b>
                        <span><img src="/static/img/store_ico.svg" alt="Logo" width="40px" height="40px"></span>
                    </a>
                </li>
                <li>
                    <a href="/project">
                        <b>О Проекте</b>
                        <span><img src="/static/img/about_ico.svg" alt="Logo" width="40px" height="40px"></span>
                    </a>
                </li>
                <li>
                    <a href="/support">
                        <b>Поддержка</b>
                        <span><img src="/static/img/support_ico.svg" alt="Logo" width="40px" height="40px"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
