<!DOCTYPE html>
<html lang="ru">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Игровой сервис">
    <meta name="keywords" content="ьеф, мта, mta server, мта сервера, mta сервера, donate, сервера мта, донат, сервера mta, авто для мта, mta, скачать мта, скачать gta san andreas, ршму мта, хайв мта, hive mta, мта hive, hive мта">
    <meta name="author" content="hive-team">
    <meta property="business:contact_data:locality" content="Москва"/>
    <meta property="business:contact_data:country_name" content="Россия"/>
    <meta property="business:contact_data:email" content="contact@hivemta.ru"/>
    <meta property="business:contact_data:phone_number" content="+7-(777)-777-77-77"/>
    <meta property="business:contact_data:website" content="http://www.hivegame.com"/>

    <title>Hive-Gaming</title>

    <!--  favicon -->
    <link rel="shortcut icon" href="/static/img/ico/mlogo.png">

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <!-- Material Icons CSS -->
    <link href="/static/fonts/iconfont/material-icons.css" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link href="/static/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- magnific-popup -->
    <link href="/static/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- flexslider -->
    <link href="/static/flexSlider/flexslider.css" rel="stylesheet">
    <!-- materialize -->
    <link href="/static/materialize/css/materialize.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- shortcodes -->
    <link href="/static/css/shortcodes/shortcodes.css" rel="stylesheet">
    <!-- Main Style CSS -->
    <link href="/static/css/style.css" rel="stylesheet">

    <link href="/static/css/skins/coffeeshop.css" rel="stylesheet">

    <!-- owl.carousel -->
    <link href="/static/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="/static/owl.carousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <!-- flexslider -->
    <link href="/static/flexSlider/flexslider.css" rel="stylesheet">
    <link href="/static/css/shortcodes/login.css" rel="stylesheet">

    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/revolution/css/settings.css">
    <!-- RS5.0 Layers and Navigation Styles -->
    <link rel="stylesheet" type="text/css" href="/static/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/static/revolution/css/navigation.css">

</head>

<body id="top" class="has-header-search" data-spy="scroll" data-target="#materialize-menu" data-offset="100">

    <!--header start-->
    <header id="header" class="tt-nav transparent-header nav-border-bottom">

        <div class="header-sticky light-header">

            <div class="container">

                <div class="search-wrapper">
                    <div class="search-trigger light pull-right">
                        <div class='search-btn'></div>
                        <i class="material-icons">&#xE8B6;</i>
                    </div>
                    <!-- Modal Search Form -->
                    <i class="search-close material-icons">&#xE5CD;</i>
                    <div class="search-form-wrapper">
                        <form action="#" class="white-form">
                            <div class="container text-center">
                                <h1 class="intro-title font-greatvibes white-text">Вход на сайт</h1>
                            </div>
                            <div class="input-field">
                                <input type="text" name="search" id="search">
                                <label for="search" class="">Логин</label>
                            </div>
                            <div class="input-field">
                                <input type="text" name="search" id="search">
                                <label for="search" class="">Пароль</label>
                            </div>
                            <div class="input-field">
                                <button class="btn pink waves-effect waves-light btn-login" type="submit">Войти</button>
                                <p class="reg-link">Если вы ещё не <a href="/" class="reg-link2">зарегистрированы</a></p>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.search-wrapper -->

                <div id="materialize-menu" class="menuzord">

                    <!--logo start-->
                    <a href="/" class="logo-brand">
                        <img src="/static/img/logo-med.svg" alt="" class="img-responsive">
                    </a>
                    <!--logo end-->

                    <!-- onepage menu start-->
                    <ul class="nav menuzord-menu pull-right op-nav light">
                        <li>
                            <a href="/library">Библиотека</a>
                        </li>
                        <li>
                            <a href="/store">Магазин</a>
                        </li>
                        <li>
                            <a href="/donate">Донат</a>
                        </li>
                        <li>
                            <a href="/project">О Проекте</a>
                        </li>
                        <li>
                            <a href="/support">Поддержка</a>
                        </li>
                    </ul>
                    <!-- onepage menu end-->

                </div>
            </div>
        </div>
    </header>
    <!--header end-->