<% include ./partials/header %>
<section id="error-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <div class="err404">
                            <img class="img-responsive" id="e404" src="/static/img/404.png" alt="">
                            <h2 id="page-not-found">Страница не найдена!</h2>
                            <a class="btn btn-xl" href="/">На Главную</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<% include ./partials/footer %>