<% include ./partials/header %>

    <section id="home" class="donate-banner-1 bg-fixed parallax-bg overlay dark-7 fullscreen-banner valign-wrapper" data-stellar-background-ratio="0.5">
        <div class="valign-cell">
            <div class="container text-center padding-top-110">
              <div class="container container-donate">
                  <div class="text-center">
                      <h2 class="donate-title text-capitalize">Покупка валюты</h2>
                  </div>

                  <div class="row">
                      <div class="col-md-12">
                        <form action="#" class="white-form">
                          <div class="input-field">
                              <input type="text" name="search" id="search">
                              <label for="search" class="">Логин</label>
                          </div>
                          <div class="input-field">
                              <input type="text" name="search" id="search">
                              <label for="search" class="">Сумма доната</label>
                          </div>
                          <div class="input-field">
                              <input type="text" name="search" id="search">
                              <label for="search" class="">Сумма игровой валюты</label>
                          </div>
                          <div class="input-field donate-field">
                              <button class="btn pink waves-effect waves-light btn-donate" type="submit">Перейти к Оплате</button>
                          </div>
                        </form>
                      </div>
                      <!-- /.col-md-12 -->
                  </div>
                  <!-- /.row -->

              </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.valign-cell -->
    </section>


<% include ./partials/footer %>
