<% include ./partials/header %>
<section class="form-box" style="width:70%">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="section-heading">Покупка внутриигровой валюты</h2>
    </div>
    <form  class="form-horizontal form-bordered" id="donate">
      <div class="form-group" style="margin-bottom: 0">
        <label for="name" class="col-sm-4 control-label">Имя пользователя:</label>
        <div class="col-sm-6">
          <input type="text" name="username" id="username" class="form-control" placeholder="Имя пользователя" value="<%=currentUser.username %>" required readonly>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-6">
          <div class="checkbox">
            <label for="gift">
              <input type="checkbox" id="gift">Сделать перевод для другого пользователя</label>
            </div>
          </div>
        </div>
        <div class="form-group">
         <label for="name" class="col-sm-4 control-label">Выберете суму доната и валюту:</label>
         <div class="col-sm-6">
          <div class="input-group" style="width: 100%">
            <input type="number" id="money" name="money" placeholder="Сумма" class="form-control" style="width:30%">
            <select class="form-control" id="curr" style="width:30%">
              <option value="10">₽ RUB</option>
              <option value="30">₴ UAH</option>
              <option value="300">€ EUR</option>
              <option value="250">$ USD</option>
            </select>

            <input type="number" id="virtualMoney"  class="form-control" placeholder="Игровая валюта"  style="width:40%" readonly >
          </div>
        </div>
      </div>
      <div class="form-group" style="margin-top: 20px;">
        <div class="col-sm-offset-4 col-sm-6">
          <button id='submit' type="submit" class="btn btn-primary"><i class="fa fa-credit-card" aria-hidden="true"></i> Перейти к оплате</button>
        </div>
      </div>

    </form>
  </div>

</section>
<% include ./partials/footer %>
<script type="text/javascript" src="../static/js/donate.js"></script>
<script type="text/javascript">var name = "<%=currentUser.username %>" ;</script>