<% include ./partials/header %>

    <section class="registration">
        <div class=id="reg-form">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Игровая Библиотека</h2>
                </div>
                <div class="container">
                    <div class="container col-lg-4">
                        <img src="/static/img/library/hivecraft.png" width="300px" height="300px">
                    </div>
                    <div class="container-library col-lg-8">
                        <p class="game-name"><span class="hivecraft">Hive</span>Craft</p>
                            <p class="game-description">Кастомная сборка популярной во всем мире песочницы. Вас ждет уникальный инвентарь, настоящая битва за выживание и море экшена! Полное описание игровых возможностей данной сборки <a href="#">"Здесь"</a></p>
                        <div class="lib-border2"></div>
                            <p class="game-req">Системные требования: <span class="fine">CPU</span> - Intel Pentium 4 +, <span class="fine">RAM</span> - 1 GB +, <span class="fine">Video</span> - 64 MB + Radeon/nVidia, <span class="fine">HDD</span> - 500 МB +</p>
                        <div class="lib-border2"></div>
                            <a href="#" class="play-game btn btn-primary">Играть</a>
                            <a href="/library/hivecraft" class="dsc-btn btn btn-primary">Описание</a>
                    </div>
                </div>
                 <div class="lib-border"></div>
            </div>
        </div>
    </section>

    <% include ./partials/footer %>