<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hive Gaming</title>
    <link rel="stylesheet" href="/static/lib/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/lib/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/structure.css" rel="stylesheet">
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/"><img id="logo" src="/static/img/logo.svg" width="72px" height="72px"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/library">Библиотека</a>
                    </li>
                    <li>
                        <a href="/store">Магазин</a>
                    </li>
                    <li>
                        <a href="/donate">Донат</a>
                    </li>
                    <li>
                        <a href="/project">О Проекте</a>
                    </li>
                    <li>
                        <a href="/support">Поддержка</a>
                    </li>
                    <li>
                        <a class="launch-modal" href="#" alt="Войти" data-modal-id="modal-register" style="font-size:20px"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Залетай в HiVE</div>
                <a href="/users/new" class="btn btn-xl">Присоединиться</a>
            </div>
        </div>
    </header>
    <!-- MODAL -->
    <div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-register-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h3 class="modal-title" id="modal-register-label">Войти</h3>
          <p>Быстрый доступ к данным Вашего аккаунта:</p>
      </div>
      <div class="modal-body">
        <form role="form" action="" method="post" class="registration-form">
           <div class="form-group">
              <input type="text" name="user[username]" id="userName" class="form-control"
              placeholder="Имя пользователя" required>
          </div>
          <div class="form-group">
              <input type="password" id="password" name="user[password]" class="form-control" required
              placeholder="Пароль">
          </div>
          <div class="form-group">
              <div class="checkbox">
                <label for="saveMe">
                  <input type="checkbox" name="saveMe"  /> Запомнить меня
              </label>
          </div>
      </div>
      <div class="form-group">
        <button id='submit' type="submit" class="btn btn-primary">Вход</button>
    </div>
</form>
</div>
</div>
</div>
</div>
<!--Section 1: Services-->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Что мы предлагаем</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Зарабатывай</h4>
                <p class="text-muted">Играя в любимые игры, ты не только с удовольствием проводишь время но и зарабатываешь игровые деньги!</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Играй с Друзьми</h4>
                <p class="text-muted">Теперь ты будешь покорять игровой мир вместе с друзьями. Добавляй в друзьй и дерзай!</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Получай Достижения</h4>
                <p class="text-muted">Твоё потраченое время не уйдет даром! У нас есть реальный дроп вещей, розыгрыши, достижения и многое другое!</p>
            </div>
        </div>
    </div>
</section>

<!--Carousel-->
<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Галерея Проекта</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 carousel-column">
                <div class="owl-carousel owl-theme">
                    <div>
                        <img id="carousel1" src="/static/img/carousel/slide_1.png">
                    </div>
                    <div>
                        <img id="carousel1" src="/static/img/carousel/slide_2.png">
                    </div>
                    <div>
                        <img id="carousel1" src="/static/img/carousel/slide_3.png">
                    </div>
                    <div>
                        <img id="carousel1" src="/static/img/carousel/slide_4.png">
                    </div>
                    <div>
                        <img id="carousel1" src="/static/img/carousel/slide_5.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Последние Новости</h2>
            </div>
        </div>
        <div class="col-lg-4" id="news-tl">
            <div class="single_stuff wow fadeInDown col-lg-4">
                <div class="single_stuff_img">
                    <a href="#"><img src="/static/img/news/stuff_img1.png" alt=""></a>
                </div>
                <div class="single_sarticle_inner"> <a class="stuff_category" href="#">Hive</a>
                    <div class="stuff_article_inner"> <span class="stuff_date">Nov <strong>17</strong></span>
                        <h2><a href="#">Hive-Gaming 1.0 Beta</a></h2>
                        <p>Совсем скоро ожидаеться релиз первой бета версии Hive-Gaming</p>
                    </div>
                </div>
            </div>
            <div class="single_stuff wow fadeInDown col-lg-4">
                <div class="single_stuff_img">
                    <a href="#"><img src="/static/img/news/stuff_img1.png" alt=""></a>
                </div>
                <div class="single_sarticle_inner"> <a class="stuff_category" href="#">MTA</a>
                    <div class="stuff_article_inner"> <span class="stuff_date">Nov <strong>17</strong></span>
                        <h2><a href="#">Hive-Gaming 1.0 Beta</a></h2>
                        <p>Совсем скоро ожидаеться релиз первой бета версии Hive-Gaming</p>
                    </div>
                </div>
            </div>
            <div class="single_stuff wow fadeInDown col-lg-6">
                <div class="single_stuff_img">
                    <a href="#"><img src="/static/img/news/stuff_img1.png" alt=""></a>
                </div>
                <div class="single_sarticle_inner"> <a class="stuff_category" href="#">HiveCraft</a>
                    <div class="stuff_article_inner"> <span class="stuff_date">Nov <strong>17</strong></span>
                        <h2><a href="#">Hive-Gaming 1.0 Beta</a></h2>
                        <p>Совсем скоро ожидаеться релиз первой бета версии Hive-Gaming</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include ./partials/footer %>
<script>
    //Modals
    $('.launch-modal').on('click', function(e){
        e.preventDefault();
        $( '#' + $(this).data('modal-id') ).modal();
    }); </script>