<% include ./partials/header %>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Что мы предлагаем</h2>
                    <h3 class="section-subheading text-muted">Наш сервис имеет все качества для того чтобы принести Вам максимум удовольствия от игрового процесса</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Богатый Выбор</h4>
                    <p class="text-muted">Наш магазин полон различным игровым инвентарем.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Удобство</h4>
                    <p class="text-muted">Игровой процесс напрямую связан с нашим лаунчером. Вся статистика, достижения, библиотека и инвентарь будут доступны Вам в самом удобном виде.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Безопасность</h4>
                    <p class="text-muted">Наш сервис обеспечен современными системами защиты от взлома.</p>
                </div>
            </div>
        </div>
    </section>


        <div class="col-lg-12 text-center">
            <h2 class="section-heading" id="scr-gallery">Галерея Скриншотов</h2>
        </div>
        <svg id="collageClips001" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" width=100% viewBox="0 0 761.44678 364.96489">
            <defs>
                <filter id="sketchFilter">
                    <feColorMatrix type="saturate" values="0" />
                    <feConvolveMatrix order="5" kernelMatrix="1 1 1 1 1 1 -1 -1 -1 1 1  -1 .01 -1 1 1 -1 -1 -1 1 1 1 1 1 1" />
                </filter>

                <clipPath id="clip001">
                    <path id="shape001" fill="white" d="m0.504 0.5h82.9l19.6 120-101 44z" />
                </clipPath>

                <clipPath id="clip002">
                    <path id="shape002" fill="white" d="m89.4 1.16h137l-19.4 114-99.7-2.62z" />
                </clipPath>

                <clipPath id="clip003">
                    <path id="shape003" fill="white" d="m231 1.16h90.4l14.2 72.1-118 19.1z" />
                </clipPath>

                <clipPath id="clip004">
                    <path id="shape004" fill="white" d="m327 1.54 91-0.38-37 168-23-3z" />
                </clipPath>

                <clipPath id="clip005">
                    <path id="shape005" fill="white" d="m423 1.16 84 0.38 13 183-133-15z" />
                </clipPath>

                <clipPath id="clip006">
                    <path id="shape006" fill="white" d="m512 1.54h143l-15 196-115-12z" />
                </clipPath>

                <clipPath id="clip007">
                    <path id="shape007" fill="white" d="m660 1.59h100l0.882 210-116-13.7z" />
                </clipPath>

                <clipPath id="clip008">
                    <path id="shape008" fill="white" d="m1.69 170 102-44 14 94-117 24z" />
                </clipPath>

                <clipPath id="clip009">
                    <path id="shape009" fill="white" d="m108 118 99.2 3.97-14.6 81.1-68.8 14.1z" />
                </clipPath>

                <clipPath id="clip010">
                    <path id="shape010" fill="white" d="m216 99.5 121-19.9 18 93.4-44 77-115-33z" />
                </clipPath>

                <clipPath id="clip011">
                    <path id="shape011" fill="white" d="m362 173 176 19.4 3.53 78.9-238 1.32z" />
                </clipPath>

                <clipPath id="clip012">
                    <path id="shape012" fill="white" d="m1.25 249 84.2-17 1.8 132h-85.5z" />
                </clipPath>

                <clipPath id="clip013">
                    <path id="shape013" fill="white" d="m91.6 230 99.6-20.3-25.6 154-73.2-0.441z" />
                </clipPath>

                <clipPath id="clip014">
                    <path id="shape014" fill="white" d="m195 223 112 32.2-63.1 109-72.3-0.882z" />
                </clipPath>

                <clipPath id="clip015">
                    <path id="shape015" fill="white" d="m301 278 242-1.32 4.85 87.3-297 0.441z" />
                </clipPath>

                <clipPath id="clip016">
                    <path id="shape016" fill="white" d="m761 364h-209l-7.94-171 216 23.4z" />
                </clipPath>
            </defs>
        </svg>

            <section>
                <svg id="collage001" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 761.44678 364.96489">
                    <a rel="nofollow" rel="noreferrer" xlink:href="https://www.google.com/search?q=gta5+001">
                        <image xlink:href="https://i5.imgpile.com/i/AMhvl.jpg" clip-path="url(#clip001)" x="-190" y="-76" width="50%" height="100%" />
                    </a>

                    <a rel="nofollow" rel="noreferrer" xlink:href="https://www.google.com/search?q=gta5+002">
                        <image xlink:href="https://i4.imgpile.com/i/AMdr3.jpg" clip-path="url(#clip002)" x="-20" y="-90" width="50%" height="100%" />
                    </a>

                    <a rel="nofollow" rel="noreferrer" xlink:href="https://www.google.com/search?q=gta5+003">
                        <image xlink:href="https://i3.imgpile.com/i/AMbhb.jpg" clip-path="url(#clip003)" x="-35" y="-40" width="60%" height="100%" />
                    </a>

                    <a rel="nofollow" rel="noreferrer" xlink:href="https://www.google.com/search?q=gta5+004">
                        <image xlink:href="https://i2.imgpile.com/i/AMRZ8.jpg" clip-path="url(#clip004)" x="148" y="-62" width="50%" height="100%" />
                    </a>

                    <a rel="nofollow" rel="noreferrer" xlink:href="https://www.google.com/search?q=gta5+005">
                        <image xlink:href="https://i0.imgpile.com/i/AMwxC.jpg" clip-path="url(#clip005)" x="200" y="-62" width="50%" height="100%" />
                    </a>

                    <a rel="nofollow" rel="noreferrer" xlink:href="https://www.google.com/search?q=gta5+006">
                        <image xlink:href="https://i.imgpile.com/i/AMUno.jpg" clip-path="url(#clip006)" x="250" y="-30" width="70%" height="100%" />
                    </a>

                    <a rel="nofollow" rel="noreferrer" xlink:href="https://www.google.com/search?q=gta5+007">
                        <image xlink:href="https://i1.imgpile.com/i/AM5oS.jpg" clip-path="url(#clip007)" x="630" y="-90" width="30%" height="100%" />
                    </a>

                    <a rel="nofollow" rel="noreferrer" xlink:href="https://google.com/search?q=gta5+008">
                        <image xlink:href="https://i6.imgpile.com/i/AM7kj.jpg" clip-path="url(#clip008)" x="-90" y="80" width="50%" height="100%" />
                    </a>

                    <a rel="nofollow" rel="noreferrer" xlink:href="https://google.com/search?q=gta5+009">
                        <image xlink:href="https://i4.imgpile.com/i/AMIUL.jpg" clip-path="url(#clip009)" x="0" y="40" width="50%" height="100%" />
                    </a>

                    <a rel="nofollow" rel="noreferrer" xlink:href="https://google.com/search?q=gta5+010">
                        <image xlink:href="https://i5.imgpile.com/i/AMuix.jpg" clip-path="url(#clip010)" x="-30" y="50" width="70%" height="100%" />
                    </a>

                    <a rel="nofollow" rel="noreferrer" xlink:href="https://google.com/search?q=gta5+011">
                        <image xlink:href="https://i3.imgpile.com/i/AMnv1.jpg" clip-path="url(#clip011)" x="130" y="0" width="90%" height="100%" />
                    </a>

                    <a rel="nofollow" rel="noreferrer" xlink:href="https://google.com/search?q=gta5+012">
                        <image xlink:href="https://i2.imgpile.com/i/AM4rP.jpg" clip-path="url(#clip012)" x="-190" y="120" width="70%" height="100%" />
                    </a>

                    <a rel="nofollow" rel="noreferrer" xlink:href="https://google.com/search?q=gta5+013">
                        <image xlink:href="https://i1.imgpile.com/i/AKydW.jpg" clip-path="url(#clip013)" x="-50" y="130" width="50%" height="100%" />
                    </a>

                    <a rel="nofollow" rel="noreferrer" xlink:href="https://google.com/search?q=gta5+014">
                        <image xlink:href="https://i6.imgpile.com/i/AKZtg.jpg" clip-path="url(#clip014)" x="0" y="200" width="80%" height="100%" />
                    </a>

                    <a rel="nofollow" rel="noreferrer" xlink:href="https://google.com/search?q=gta5+015">
                        <image xlink:href="https://i0.imgpile.com/i/AKeZN.jpg" clip-path="url(#clip015)" x="10" y="80" width="70%" height="100%" />
                    </a>

                    <a rel="nofollow" rel="noreferrer" xlink:href="https://google.com/search?q=gta5+017">
                        <image xlink:href="https://i5.imgpile.com/i/AKSnR.jpg" clip-path="url(#clip016)" x="465" y="100" width="40%" height="100%" />
                    </a>
                </svg>
            </section>


        <!-- Team Section -->
        <section id="team" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Наша Команда</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="/static/img/team/kuznets.jpg" class="img-responsive img-circle" alt="">
                            <h4>Oleh Kuznets</h4>
                            <p class="text-muted">Dev | Designer</p>
                            <ul class="list-inline social-buttons">
                                <li><a href="https://vk.com/dream.floyd"><i class="fa fa-vk"></i></a>
                                </li>
                                <li><a href="https://www.facebook.com/dream.floyd96"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="https://www.instagram.com/jeddah_ko"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="/static/img/team/fandul.jpg" class="img-responsive img-circle" alt="">
                            <h4>Anton Fandul</h4>
                            <p class="text-muted">Main Dev</p>
                            <ul class="list-inline social-buttons">
                                <li><a href="https://vk.com/urban_knight"><i class="fa fa-vk"></i></a>
                                </li>
                                <li><a href="https://www.facebook.com/fandul.anton"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="/404"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="/static/img/team/bukhanenko.jpg" class="img-responsive img-circle" alt="">
                            <h4>Oleksandr Bukhanenko</h4>
                            <p class="text-muted">Dev | Community</p>
                            <ul class="list-inline social-buttons">
                                <li><a href="https://vk.com/olexandrrr_1"><i class="fa fa-vk"></i></a>
                                </li>
                                <li><a href="https://www.facebook.com/oleksandr.bukhanenko"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="https://www.instagram.com/olexand96"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <p class="large text-muted">По вопросам сотрудничества или рекламы обращаться непосредственно к любому из администраторов сервиса, заполнив форму обращения.</p>
                    </div>
                </div>
            </div>
        </section>

        <% include ./partials/footer %>