<% include ./partials/header %>

    <!--Section 1: Services-->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Что мы предлагаем</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Зарабатывай</h4>
                    <p class="text-muted">Играя в любимые игры, ты не только с удовольствием проводишь время но и зарабатываешь игровые деньги!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Играй с Друзьми</h4>
                    <p class="text-muted">Теперь ты будешь покорять игровой мир вместе с друзьями. Добавляй в друзьй и дерзай!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Получай Достижения</h4>
                    <p class="text-muted">Твоё потраченое время не уйдет даром! У нас есть реальный дроп вещей, розыгрыши, достижения и многое другое!</p>
                </div>
            </div>
        </div>
    </section>

    <!--Carousel-->
    <section id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Галерея Проекта</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 carousel-column">
                    <div class="owl-carousel owl-theme">
                        <div>
                            <img id="carousel1" src="/static/img/carousel/slide_1.png">
                        </div>
                        <div>
                            <img id="carousel1" src="/static/img/carousel/slide_2.png">
                        </div>
                        <div>
                            <img id="carousel1" src="/static/img/carousel/slide_3.png">
                        </div>
                        <div>
                            <img id="carousel1" src="/static/img/carousel/slide_4.png">
                        </div>
                        <div>
                            <img id="carousel1" src="/static/img/carousel/slide_5.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Последние Новости</h2>
                </div>
            </div>
            <div class="col-lg-4" id="news-tl">
            <div class="single_stuff wow fadeInDown col-lg-4">
                <div class="single_stuff_img">
                    <a href="#"><img src="/static/img/news/stuff_img1.png" alt=""></a>
                </div>
                <div class="single_sarticle_inner"> <a class="stuff_category" href="#">Hive</a>
                    <div class="stuff_article_inner"> <span class="stuff_date">Nov <strong>17</strong></span>
                        <h2><a href="#">Hive-Gaming 1.0 Beta</a></h2>
                        <p>Совсем скоро ожидаеться релиз первой бета версии Hive-Gaming</p>
                    </div>
                </div>
            </div>
                        <div class="single_stuff wow fadeInDown col-lg-4">
                <div class="single_stuff_img">
                    <a href="#"><img src="/static/img/news/stuff_img1.png" alt=""></a>
                </div>
                <div class="single_sarticle_inner"> <a class="stuff_category" href="#">MTA</a>
                    <div class="stuff_article_inner"> <span class="stuff_date">Nov <strong>17</strong></span>
                        <h2><a href="#">Hive-Gaming 1.0 Beta</a></h2>
                        <p>Совсем скоро ожидаеться релиз первой бета версии Hive-Gaming</p>
                    </div>
                </div>
            </div>
                        <div class="single_stuff wow fadeInDown col-lg-6">
                <div class="single_stuff_img">
                    <a href="#"><img src="/static/img/news/stuff_img1.png" alt=""></a>
                </div>
                <div class="single_sarticle_inner"> <a class="stuff_category" href="#">HiveCraft</a>
                    <div class="stuff_article_inner"> <span class="stuff_date">Nov <strong>17</strong></span>
                        <h2><a href="#">Hive-Gaming 1.0 Beta</a></h2>
                        <p>Совсем скоро ожидаеться релиз первой бета версии Hive-Gaming</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <% include ./partials/footer %>