<% include ./partials/header %>

    <section id="home" class="support-banner bg-fixed parallax-bg overlay dark-7 fullscreen-banner valign-wrapper" data-stellar-background-ratio="0.5">
        <div class="valign-cell">
            <div class="container text-center">
                <h1 class="intro-title font-greatvibes white-text">Библиотека</h1>
            </div>

            <!-- /.container -->
        </div>
        <!-- /.valign-cell -->
    </section>

    <section class="section-project">
        <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="card">
                    <div class="card-image">
                      <img src="/static/img/portfolio/mta-grasp.png">
                    </div>
                    <div class="card-content">
                      <p>Мультиплеер МТА создан по мотивам легендарной Grand Theft Auto: San Andreas!</p>
                      <a href="/library/mta" class="btn btn-lg btn-inf">Узнать Больше</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="card">
                    <div class="card-image">
                      <img src="/static/img/portfolio/hivecraft.png">
                    </div>
                    <div class="card-content">
                      <p>Песочница покорившая весь мир, теперь на нашем сервисе! Присоединяйся и играй, будет весело!</p>
                      <a href="/library/hivecraft" class="btn btn-lg btn-inf">Узнать Больше</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>

<% include ./partials/footer %>



