<% include ./partials/header %>

    <section class="registration">
        <div class=id="reg-form">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Игровая Библиотека</h2>
                </div>
                <div class="container">
                    <div class="container col-lg-4">
                        <img src="/static/img/library/mta-grasp.png" width="300px" height="300px">
                    </div>
                    <div class="container-library col-lg-8">
                        <p class="game-name">Multi Theft Auto: <span class="grasp">Grasp</span></p>
                            <p class="game-description">Легендарная GTA: San Andreas теперь онлайн! Мы предлагаем Вам открытые уличные разборки, море оружия и большой выбор транспорта. Полное описание игровых возможностей данной сборки вы можете прочитать перейдя по ссылке снизу</p>
                        <div class="lib-border2"></div>
                            <p class="game-req">Системные требования: <span class="fine">CPU</span> - Intel Pentium 4 +, <span class="fine">RAM</span> - 512 MB +, <span class="fine">Video</span> - 128 MB + Radeon/nVidia, <span class="fine">HDD</span> - 4 GB +</p>
                        <div class="lib-border2"></div>
                            <a href="#" class="play-game btn btn-primary">Играть</a>
                            <a href="#" class="dsc-btn btn btn-primary">Описание</a>
                    </div>
                </div>
                 <div class="lib-border"></div>
            </div>
        </div>
    </section>

    <% include ./partials/footer %>