<% include ./partials/header %>

    <section class="section-padding-news grid-news-hover grid-blog">
        <div class="container">
            <div class="text-center mb-80">
                <h2 class="news-title">Новости</h2>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div id="blogGrid">

                            <div class="col-xs-12 col-sm-6 col-md-6 blog-grid-item">
                                <article class="post-wrapper">

                                    <div class="thumb-wrapper waves-effect waves-block waves-light">
                                        <a href="#"><img src="static/img/blog/blog-8.jpg" class="img-responsive" alt=""></a>
                                        <div class="post-date">
                                            25<span>Jun</span>
                                        </div>
                                    </div>
                                    <!-- .post-thumb -->

                                    <div class="blog-content">

                                        <div class="hover-overlay light-blue"></div>

                                        <header class="entry-header-wrapper">
                                            <div class="entry-header">
                                                <h2 class="entry-title"><a href="#">Ideas That Moved Us in 2015</a></h2>

                                                <div class="entry-meta">
                                                    <ul class="list-inline">
                                                        <li>
                                                            By <a href="#">Admin</a>
                                                        </li>
                                                        <li>
                                                            In <a href="#">Technology</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- .entry-meta -->
                                            </div>
                                            <!-- /.entry-header -->
                                        </header>
                                        <!-- /.entry-header-wrapper -->

                                        <div class="entry-content">
                                            <p>Maecenas varius finibus orci vel dignissim. Nam posuere, magna pellentesque accumsan tincidunt, libero lorem convallis lectus</p>
                                        </div>
                                        <!-- .entry-content -->

                                    </div>
                                    <!-- /.blog-content -->

                                </article>
                                <!-- /.post-wrapper -->
                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-xs-12 col-sm-6 col-md-6 blog-grid-item">
                                <article class="post-wrapper">

                                    <div class="thumb-wrapper waves-effect waves-block waves-light">
                                        <a href="#"><img src="static/img/blog/blog-1.jpg" class="img-responsive" alt=""></a>
                                        <div class="post-date">
                                            25<span>Jun</span>
                                        </div>
                                    </div>
                                    <!-- .post-thumb -->

                                    <div class="blog-content">

                                        <div class="hover-overlay light-blue"></div>

                                        <header class="entry-header-wrapper">
                                            <div class="entry-header">
                                                <h2 class="entry-title"><a href="#">Ideas That Moved Us in 2015</a></h2>

                                                <div class="entry-meta">
                                                    <ul class="list-inline">
                                                        <li>
                                                            By <a href="#">Admin</a>
                                                        </li>
                                                        <li>
                                                            In <a href="#">Technology</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- .entry-meta -->
                                            </div>
                                            <!-- /.entry-header -->
                                        </header>
                                        <!-- /.entry-header-wrapper -->

                                        <div class="entry-content">
                                            <p>Maecenas varius finibus orci vel dignissim. Nam posuere, magna pellentesque accumsan tincidunt, libero lorem convallis lectus</p>
                                        </div>
                                        <!-- .entry-content -->

                                    </div>
                                    <!-- /.blog-content -->

                                </article>
                                <!-- /.post-wrapper -->
                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-xs-12 col-sm-6 col-md-6 blog-grid-item">
                                <article class="post-wrapper">

                                    <div class="thumb-wrapper waves-effect waves-block waves-light">
                                        <a href="#"><img src="static/img/blog/blog-5.jpg" class="img-responsive" alt=""></a>
                                        <div class="post-date">
                                            25<span>Jun</span>
                                        </div>
                                    </div>
                                    <!-- .post-thumb -->

                                    <div class="blog-content">

                                        <div class="hover-overlay light-blue"></div>

                                        <header class="entry-header-wrapper">
                                            <div class="entry-header">
                                                <h2 class="entry-title"><a href="#">Ideas That Moved Us in 2015</a></h2>

                                                <div class="entry-meta">
                                                    <ul class="list-inline">
                                                        <li>
                                                            By <a href="#">Admin</a>
                                                        </li>
                                                        <li>
                                                            In <a href="#">Technology</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- .entry-meta -->
                                            </div>
                                            <!-- /.entry-header -->
                                        </header>
                                        <!-- /.entry-header-wrapper -->

                                        <div class="entry-content">
                                            <p>Maecenas varius finibus orci vel dignissim. Nam posuere, magna pellentesque accumsan tincidunt, libero lorem convallis lectus</p>
                                        </div>
                                        <!-- .entry-content -->

                                    </div>
                                    <!-- /.blog-content -->

                                </article>
                                <!-- /.post-wrapper -->
                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-xs-12 col-sm-6 col-md-6 blog-grid-item">
                                <article class="post-wrapper">

                                    <div class="thumb-wrapper waves-effect waves-block waves-light">
                                        <a href="#"><img src="static/img/blog/blog-18.jpg" class="img-responsive" alt=""></a>
                                        <div class="post-date">
                                            25<span>Jun</span>
                                        </div>
                                    </div>
                                    <!-- .post-thumb -->

                                    <div class="blog-content">

                                        <div class="hover-overlay light-blue"></div>

                                        <header class="entry-header-wrapper">
                                            <div class="entry-header">
                                                <h2 class="entry-title"><a href="#">Ideas That Moved Us in 2015</a></h2>

                                                <div class="entry-meta">
                                                    <ul class="list-inline">
                                                        <li>
                                                            By <a href="#">Admin</a>
                                                        </li>
                                                        <li>
                                                            In <a href="#">Technology</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- .entry-meta -->
                                            </div>
                                            <!-- /.entry-header -->
                                        </header>
                                        <!-- /.entry-header-wrapper -->

                                        <div class="entry-content">
                                            <p>Maecenas varius finibus orci vel dignissim. Nam posuere, magna pellentesque accumsan tincidunt, libero lorem convallis lectus</p>
                                        </div>
                                        <!-- .entry-content -->

                                    </div>
                                    <!-- /.blog-content -->

                                </article>
                                <!-- /.post-wrapper -->
                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-xs-12 col-sm-6 col-md-6 blog-grid-item">
                                <article class="post-wrapper">

                                    <div class="thumb-wrapper waves-effect waves-block waves-light">
                                        <a href="#"><img src="static/img/blog/blog-2.jpg" class="img-responsive" alt=""></a>
                                        <div class="post-date">
                                            25<span>Jun</span>
                                        </div>
                                    </div>
                                    <!-- .post-thumb -->

                                    <div class="blog-content">

                                        <div class="hover-overlay light-blue"></div>

                                        <header class="entry-header-wrapper">
                                            <div class="entry-header">
                                                <h2 class="entry-title"><a href="#">Ideas That Moved Us in 2015</a></h2>

                                                <div class="entry-meta">
                                                    <ul class="list-inline">
                                                        <li>
                                                            By <a href="#">Admin</a>
                                                        </li>
                                                        <li>
                                                            In <a href="#">Technology</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- .entry-meta -->
                                            </div>
                                            <!-- /.entry-header -->
                                        </header>
                                        <!-- /.entry-header-wrapper -->

                                        <div class="entry-content">
                                            <p>Maecenas varius finibus orci vel dignissim. Nam posuere, magna pellentesque accumsan tincidunt, libero lorem convallis lectus</p>
                                        </div>
                                        <!-- .entry-content -->

                                    </div>
                                    <!-- /.blog-content -->

                                </article>
                                <!-- /.post-wrapper -->
                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-xs-12 col-sm-6 col-md-6 blog-grid-item">
                                <article class="post-wrapper">

                                    <div class="thumb-wrapper waves-effect waves-block waves-light">
                                        <a href="#"><img src="static/img/blog/blog-15.jpg" class="img-responsive" alt=""></a>
                                        <div class="post-date">
                                            25<span>Jun</span>
                                        </div>
                                    </div>
                                    <!-- .post-thumb -->

                                    <div class="blog-content">

                                        <div class="hover-overlay light-blue"></div>

                                        <header class="entry-header-wrapper">
                                            <div class="entry-header">
                                                <h2 class="entry-title"><a href="#">Ideas That Moved Us in 2015</a></h2>

                                                <div class="entry-meta">
                                                    <ul class="list-inline">
                                                        <li>
                                                            By <a href="#">Admin</a>
                                                        </li>
                                                        <li>
                                                            In <a href="#">Technology</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- .entry-meta -->
                                            </div>
                                            <!-- /.entry-header -->
                                        </header>
                                        <!-- /.entry-header-wrapper -->

                                        <div class="entry-content">
                                            <p>Maecenas varius finibus orci vel dignissim. Nam posuere, magna pellentesque accumsan tincidunt, libero lorem convallis lectus</p>
                                        </div>
                                        <!-- .entry-content -->

                                    </div>
                                    <!-- /.blog-content -->

                                </article>
                                <!-- /.post-wrapper -->
                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-xs-12 col-sm-6 col-md-6 blog-grid-item">
                                <article class="post-wrapper">

                                    <div class="thumb-wrapper waves-effect waves-block waves-light">
                                        <a href="#"><img src="static/img/blog/blog-6.jpg" class="img-responsive" alt=""></a>
                                        <div class="post-date">
                                            25<span>Jun</span>
                                        </div>
                                    </div>
                                    <!-- .post-thumb -->

                                    <div class="blog-content">

                                        <div class="hover-overlay light-blue"></div>

                                        <header class="entry-header-wrapper">
                                            <div class="entry-header">
                                                <h2 class="entry-title"><a href="#">Ideas That Moved Us in 2015</a></h2>

                                                <div class="entry-meta">
                                                    <ul class="list-inline">
                                                        <li>
                                                            By <a href="#">Admin</a>
                                                        </li>
                                                        <li>
                                                            In <a href="#">Technology</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- .entry-meta -->
                                            </div>
                                            <!-- /.entry-header -->
                                        </header>
                                        <!-- /.entry-header-wrapper -->

                                        <div class="entry-content">
                                            <p>Maecenas varius finibus orci vel dignissim. Nam posuere, magna pellentesque accumsan tincidunt, libero lorem convallis lectus</p>
                                        </div>
                                        <!-- .entry-content -->

                                    </div>
                                    <!-- /.blog-content -->

                                </article>
                                <!-- /.post-wrapper -->
                            </div>
                            <!-- /.col-md-4 -->

                        </div>
                        <!-- /#blogGrid -->

                    </div>
                    <!-- /.row -->
                </div>
                <div class="col-md-3">
                    <div class="tt-sidebar-wrapper" role="complementary">
                        <div class="widget widget_search">
                            <form role="search" method="get" class="search-form">
                                <input type="text" class="form-control" value="" name="s" id="s" placeholder="Write any keywords">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!-- /.widget_search -->

                        <div class="widget widget_categories">
                            <h3 class="widget-title">Categories</h3>
                            <ul>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Media</a></li>
                                <li><a href="#">Video</a></li>
                                <li><a href="#">Audio</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Material</a></li>
                            </ul>
                        </div>
                        <!-- /.widget_categories -->

                    </div>
                    <!-- /.tt-sidebar-wrapper -->
                </div>
            </div>

            <ul class="pagination post-pagination text-center mt-50">
                <li><a href="#." class="waves-effect waves-light"><i class="fa fa-angle-left"></i></a></li>
                <li><span class="current waves-effect waves-light">1</span></li>
                <li><a href="#." class="waves-effect waves-light">2</a></li>
                <li><a href="#." class="waves-effect waves-light"><i class="fa fa-angle-right"></i></a></li>
            </ul>

        </div>
        <!-- /.container -->
    </section>
    <% include ./partials/footer %>