<% include ./partials/header %>

    <!-- Team Section -->
    <section class="section-padding">
        <div class="container">

            <div class="text-center mb-80">
                <h2 class="section-title text-uppercase">Наша Команда</h2>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="team-wrapper">
                        <div class="team-img">
                            <a href="#"><img src="static/img/team/o-kuznets.jpg" class="img-responsive" alt="Image"></a>
                        </div>
                        <!-- /.team-img -->

                        <div class="team-title">
                            <h3><a href="#">Oleh Kuznets</a></h3>
                            <span>Developer &amp; Designer</span>
                        </div>
                        <!-- /.team-title -->

                        <ul class="team-social-links list-inline text-center">
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitch"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>

                    </div>
                    <!-- /.team-wrapper -->
                </div>
                <!-- /.col-md-4 -->

                <div class="col-md-3 col-sm-6">
                    <div class="team-wrapper">
                        <div class="team-img">
                            <a href="#"><img src="static/img/team/d-kuznets.jpg" class="img-responsive" alt="Image"></a>
                        </div>
                        <!-- /.team-img -->

                        <div class="team-title">
                            <h3><a href="#">Dmytro Kuznets</a></h3>
                            <span>Marketing Analyst</span>
                        </div>
                        <!-- /.team-title -->

                        <ul class="team-social-links list-inline text-center">
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitch"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>

                    </div>
                    <!-- /.team-wrapper -->
                </div>
                <!-- /.col-md-4 -->

                <div class="col-md-3 col-sm-6">
                    <div class="team-wrapper">
                        <div class="team-img">
                            <a href="#"><img src="static/img/team/fandul.jpg" class="img-responsive" alt="Image"></a>
                        </div>
                        <!-- /.team-img -->

                        <div class="team-title">
                            <h3><a href="#">Anton Fandul</a></h3>
                            <span>Back-end Developer</span>
                        </div>
                        <!-- /.team-title -->

                        <ul class="team-social-links list-inline text-center">
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitch"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>

                    </div>
                    <!-- /.team-wrapper -->
                </div>
                <!-- /.col-md-4 -->

                <div class="col-md-3 col-sm-6">
                    <div class="team-wrapper">
                        <div class="team-img">
                            <a href="#"><img src="static/img/team/bukhanenko.jpg" class="img-responsive" alt="Image"></a>
                        </div>
                        <!-- /.team-img -->

                        <div class="team-title">
                            <h3><a href="#">Alexandr Bukhanenko</a></h3>
                            <span>Front-end Developer</span>
                        </div>
                        <!-- /.team-title -->

                        <ul class="team-social-links list-inline text-center">
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitch"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>

                    </div>
                    <!-- /.team-wrapper -->
                </div>
                <!-- /.col-md-4 -->

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <section class="section-padding-clients">
        <div class="container">
            <div class="text-center mb-80">
                <h2 class="section-title text-uppercase">Что мы используем</h2>
            </div>

            <div class="clients-grid grid-gutter">
                <div class="row">

                    <div class="col-md-3 col-sm-6">
                        <div class="border-box">
                            <a href="#">
                                <img src="static/img/client-logo/mongo.png" alt="clients">
                            </a>
                        </div>
                        <!-- /.border-box -->
                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">
                        <div class="border-box">
                            <a href="#">
                                <img src="static/img/client-logo/nodejs.png" alt="clients">
                            </a>
                        </div>
                        <!-- /.border-box -->
                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">
                        <div class="border-box">
                            <a href="#">
                                <img src="static/img/client-logo/minecraft.png" alt="clients">
                            </a>
                        </div>
                        <!-- /.border-box -->
                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">
                        <div class="border-box">
                            <a href="#">
                                <img src="static/img/client-logo/mta.png" alt="clients">
                            </a>
                        </div>
                        <!-- /.border-box -->
                    </div>
                    <!-- /.col-md-3 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.clients-grid -->

        </div>
        <!-- /.container -->
    </section>

    <% include ./partials/footer %>