<% include ./partials/header2 %>



    <!-- Team Section -->
<section class="registration">
<div class="col-lg-12" id="reg-form">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Наша Команда</h2>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/static/img/team/kuznets.jpg" class="img-responsive img-circle" alt="">
                        <h4>Oleg Kuznets</h4>
                        <br>
                        <p class="text-muted">Designer | Developer</p>
                        <br>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://vk.com/dream.floyd"><i class="fa fa-vk"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/dream.floyd96" "><i class="fa fa-facebook "></i></a>
                            </li>
                            <li><a href="# "><i class="fa fa-twitch "></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="team-member ">
                        <img src="/static/img/team/fandul.jpg " class="img-responsive img-circle " alt=" ">
                        <h4>Anton Fandul</h4>
                        <br>
                        <p class="text-muted ">Lead Developer</p>
                        <br>
                        <ul class="list-inline social-buttons ">
                            <li><a href="https://vk.com/urban_knight "><i class="fa fa-vk "></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/fandul.anton "><i class="fa fa-facebook "></i></a>
                            </li>
                            <li><a href="# "><i class="fa fa-twitch "></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="team-member ">
                        <img src="/static/img/team/bukhanenko.jpg " class="img-responsive img-circle " alt=" ">
                        <h4>Alexandr Bukhanenko</h4>
                        <br>
                        <p class="text-muted ">Developer</p>
                                                    <br>
                        <ul class="list-inline social-buttons ">
                            <li><a href="https://vk.com/olexandrrr_1 "><i class="fa fa-vk "></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/oleksandr.bukhanenko "><i class="fa fa-facebook "></i></a>
                            </li>
                            <li><a href="# "><i class="fa fa-twitch "></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-8 col-lg-offset-2 text-center ">
                    <p class="large text-muted ">По вопросам сотрудничества или рекламы обращаться в раздел "Поддержка"</p>
                    <br>
        			<br>
                </div>
            </div>
        </div>
    </section>

<section class="bg-light-gray ">
    <aside class="clients ">
        <div class="container ">
            <div class="row ">
            <div class="col-lg-12 text-center ">
                                <h2 class="section-heading ">Наши Партнеры</h2>
                                </div>
                <div class="col-md-3 col-sm-6 ">
                    <a href="# ">
                        <img src="" class="img-responsive img-centered " alt=" ">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 ">
                    <a href="# ">
                        <img src="" class="img-responsive img-centered " alt=" ">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 ">
                    <a href="# ">
                        <img src="" class="img-responsive img-centered " alt=" ">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 ">
                    <a href="# ">
                        <img src="" class="img-responsive img-centered " alt=" ">
                    </a>
                </div>
            </div>
        </div>
    </aside>
</section>
<% include ./partials/footer %>