<% include ./partials/header %>

    <section class="registration">
        <div class="col-lg-12" id="reg-form">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Поддержка</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="column2">
                     <h3 class="section-heading">Краткая Информация</h3>
                </div>
                <div class="container-rules text-center">
                    <p class="short-info">Ниже будут описаны условия/правила пребывания на сервере и проекте. Незнания и не выполнение данных условий не избавляет участника от отвественности. Последствия невыполнение условий вовлечет за собой ряд наказаний: mute, kick, ban. Неоднократные нарушения правил могут привести к перманентному бану на проекте. Об зменениях в правилах проекта и сервера обязательно будут уведомлены все участники. Все изменения вступают в силу в течении 24 часов с момента публикации. Обжалование ваших штрафов будет осуществлятся через специально заполненую форму на которую Вы можете перейти по данной кнопке <a href="#">"Заполнить Форму"</a>.</p>
                </div>
                <br>
                <div class="column2 text-center">
                     <a href="/static/doc/rules.pdf" class="project-rules btn btn-primary">Правила Использования</a>
                </div>
            </div>
        </div>            
    </section>

        <section class="registration">
        <div class=id="reg-form">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Часто Задаваемые Вопросы</h2>
                </div>
                <div class="container" id="tile-box">
                    <div class='tile-wrap'>
                        <button class='tile great'>
                            <div><a id="wline" href="/static/img/carousel/slide_1.png" data-lightbox="example-set"><h4 class="faq gr">Как Запустить Игру?</h4></a></div>
                        </button>
                        <button class='tile short '>
                            <div><a id="wline" href="/static/img/carousel/slide_1.png" data-lightbox="example-set"><h4 class="faq lw">Економика</h4></a></div>
                        </button>
                        <button class='tile '>
                            <div><a id="wline" href="/static/img/carousel/slide_1.png" data-lightbox="example-set"><h4 class="faq avr">Как восстановить пароль от аккаунта?</h4></a></div>
                        </button>
                        <button class='tile short'>
                            <div><a id="wline" href="/static/img/carousel/slide_1.png" data-lightbox="example-set"><h4 class="faq lw">Как Получить Бонусы?</h4></a></div>
                        </button>
                        <button class='tile '>
                            <div><a id="wline" href="/static/img/carousel/slide_1.png" data-lightbox="example-set"><h4 class="faq avr">После загрузки игра просто вылетает, что делать?</h4></a></div>
                        </button>
                        <button class='tile '>
                            <div><a id="wline" href="/static/img/carousel/slide_1.png" data-lightbox="example-set"><h4 class="faq avr">Как Сменить Ник?</h4></a></div>
                        </button>
                        <button class='tile short '>
                            <div><a id="wline" href="/static/img/carousel/slide_1.png" data-lightbox="example-set"><h4 class="faq lw">Економика</h4></a></div>
                        </button>
                        <button class='tile '>
                            <div><a id="wline" href="/static/img/carousel/slide_1.png" data-lightbox="example-set"><h4 class="faq avr">Как восстановить пароль от аккаунта?</h4></a></div>
                        </button>
                        <button class='tile short'>
                            <div><a id="wline" href="/static/img/carousel/slide_1.png" data-lightbox="example-set"><h4 class="faq lw">Как Получить Бонусы?</h4></a></div>
                        </button>
                        <button class='tile short'>
                            <div><a id="wline" href="/static/img/carousel/slide_1.png" data-lightbox="example-set"><h4 class="faq lw">После загрузки </h4></a></div>
                        </button>
                        <button class='tile '>
                            <div><a id="wline" href="/static/img/carousel/slide_1.png" data-lightbox="example-set"><h4 class="faq avr">После загрузки игра просто вылетает, что делать?</h4></a></div>
                        </button>
                        <button class='tile '>
                            <div><a id="wline" href="/static/img/carousel/slide_1.png" data-lightbox="example-set"><h4 class="faq avr">Как восстановить пароль от аккаунта?</h4></a></div>
                        </button>
                        <button class='tile short'>
                            <div><a id="wline" href="/static/img/carousel/slide_1.png" data-lightbox="example-set"><h4 class="faq lw">Инструкция</h4></a></div>
                        </button>
                        <button class='tile '>
                            <div><a id="wline" href="/static/img/carousel/slide_1.png" data-lightbox="example-set"><h4 class="faq avr">Как восстановить пароль от аккаунта?</h4></a></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include ./partials/footer %>