<% include ./partials/header %>

    <section id="home" class="support-banner bg-fixed parallax-bg overlay dark-7 fullscreen-banner valign-wrapper" data-stellar-background-ratio="0.5">
        <div class="valign-cell">
            <div class="container text-center">
                <h1 class="intro-title font-greatvibes white-text">Поддержка</h1>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.valign-cell -->
    </section>

    <section class="section-padding">
        <div class="container">

            <div class="row">
                <div class="col-md-12">

                    <div class="border-box-tab">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#tab-18" class="waves-effect waves-dark" role="tab" data-toggle="tab"> <span class="mr-10">01</span> Краткая Информация</a>
                            </li>
                            <li role="presentation">
                                <a href="#tab-19" class="waves-effect waves-dark" role="tab" data-toggle="tab"> <span class="mr-10">02</span> FAQ</a>
                            </li>
                            <li role="presentation">
                                <a href="#tab-20" class="waves-effect waves-dark" role="tab" data-toggle="tab"> <span class="mr-10">03</span> Feedback</a>
                            </li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="panel-body">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="tab-18">
                                    <p>Ниже будут описаны условия/правила пребывания на сервере и проекте. Незнания и не выполнение данных условий не избавляет участника от отвественности. Последствия невыполнение условий вовлечет за собой ряд наказаний: mute, kick, ban. Неоднократные нарушения правил могут привести к перманентному бану на проекте. Об зменениях в правилах проекта и сервера обязательно будут уведомлены все участники. Все изменения вступают в силу в течении 24 часов с момента публикации. Обжалование ваших штрафов будет осуществлятся через специально заполненую форму на которую Вы можете перейти по данной кнопке </p>
                                    <div class="text-center mt-80-2">
                                        <a href="/static/doc/rules.pdf" class="btn btn-lg waves-effect waves-light">Правила Использования</a>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab-19">
                                    <p>Duis senectus mus condimentum nunc ac habitasse duis consectetur a arcu a accumsan cras et metus ultricies justo cum a bibendum. <a href="#">Egestas vestibulum blandit sem vestibulum curabitur</a> a vel aliquet gravida ullamcorper amet dictumst vestibulum a elementum proin id volutpat magna parturient. Id ac dui libero a ullamcorper euismod himenaeos a nam condimentum a adipiscing dapibus lobortis iaculis morbi.</p>

                                    <p>Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor tempus a mi ad parturient ad nulla mus amet in penatibus nascetur at vulputate euismod a est tristique scelerisque. Aliquet facilisis nisl vel vestibulum dignissim gravida ullamcorper hac quisque ad at nisl egestas adipiscing vel blandit.</p>
                                    <div class="text-center mt-80-2">
                                        <a href="/static/doc/rules.pdf" class="btn btn-lg waves-effect waves-light">Перейти к FAQ</a>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab-20">
                                    <p>Duis senectus mus condimentum nunc ac habitasse duis consectetur a arcu a accumsan cras et metus ultricies justo cum a bibendum. <a href="#">Egestas vestibulum blandit sem vestibulum curabitur</a> a vel aliquet gravida ullamcorper amet dictumst vestibulum a elementum proin id volutpat magna parturient. Id ac dui libero a ullamcorper euismod himenaeos a nam condimentum a adipiscing dapibus lobortis iaculis morbi.</p>

                                    <p>Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor tempus a mi ad parturient ad nulla mus amet in penatibus nascetur at vulputate euismod a est tristique scelerisque. Aliquet facilisis nisl vel vestibulum dignissim gravida ullamcorper hac quisque ad at nisl egestas adipiscing vel blandit.</p>
                                    <div class="text-center mt-80-2">
                                        <a href="/static/doc/rules.pdf" class="btn btn-lg waves-effect waves-light">Связаться</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.border-bottom-tab -->

                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </section>

    <% include ./partials/footer %>