<% include ./partials/header2 %>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h2 class="section-heading">Поддержка</h2>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12">
<div class="container2">
  <div class="column2">
  <h3 class="section-heading text-center">Правила Использования</h3>
    <div class="block2">My Block</div>
    <div class="block2">My Block</div>
    <div class="block2">My Block</div>
    <div class="block2">My Block</div>
    <div class="block2">My Block</div>
    <div class="block2">My Block</div>
    <div class="block2">My Block</div>
    <div class="block2">My Block</div>
    <div class="block2">My Block</div>
    <div class="block2">My Block</div>
    <div class="block2">My Block</div>
  </div>
</div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>

<% include ./partials/footer %>