/*================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 2.3
  Author: GeeksLabs
  Author URL: http://www.themeforest.net/user/geekslabs
================================================================================*/
/*-----------------------------------------

------------------------------------------*/
/*=================================================================================
    General
====================================================================================*/
/*----------------------------------------
  General Layout Style
------------------------------------------*/

#main {
  padding-left: 240px;
}

#input-select .input-field label {
  position: absolute;
  top: -14px;
  font-size: 0.8rem;
}
#sidenav-overlay {
  background-color: transparent;
}
.container-profile {
  padding: 0 0.5rem;
  margin: 0 auto;
  max-width: 100% !important;
  width: 98%;
}

#left-sidebar-nav span.badge.new{
  line-height: 20px;
  margin-top: 11px;
}

#content .container-profile .row {
  margin-bottom: 0;
}
@media only screen and (min-width: 601px) {
.container-profile {
    width: 98%;
  }
}
@media only screen and (min-width: 993px) {
.container-profile {
    width: 98%;
  }
}
@media only screen and (max-width: 993px) {
  #main,
  footer {
    padding-left: 0px;
  }
}
.ps-scrollbar-x-rail,.ps-scrollbar-y-rail{
  z-index: 9999;
}

/*----------------------------------------
    Profile Page
------------------------------------------*/

#profile-page-header .card-image {
  height: 250px;
}
#profile-page-header .card-profile-image {
  width: 110px;
  position: absolute;
  top: 190px;
  z-index: 1;
  left: 40px;
  cursor: pointer;
  margin: 0;
}
#profile-page-header .card-content{
  margin-top: -5px;
}
#profile-page-header .card-content .card-title{
  margin-bottom: 0px;
}

/*profile-page-wall*/

#profile-page-wall .profile-image-post{
  width: 60px;
  margin: 30px 10px;
}
#profile-page-wall .tab-profile .tab i{
  font-size: 18px;
}
#profile-page-wall .tab-content{
  padding: 10px 0 0 0;
}
#profile-page-wall .share-icons{
  margin-top: 10px;
}
#profile-page-wall .share-icons i{
  padding: 0px 5px;
}


#profile-page-wall-posts .profile-small{
  height: 250px;
  overflow: hidden;
}
#profile-page-wall-posts .profile-medium{
  height: 350px;
  overflow: hidden;
}
#profile-page-wall-posts .profile-large{
  height: 450px;
  overflow: hidden;  
}
#profile-page-wall-posts .card-profile-title{
  font-size: 16px;
  padding: 20px;
  border-radius: 0 0 2px 2px;
}
#profile-page-wall-posts .card-action-share{
  padding: 16px;
}

