
.single_stuff {
    float: left;
    display: inline;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px
}

.single_stuff_img {
    float: left;
    display: inline;
    width: 100%
}

.single_stuff_img a {
    display: block;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.single_stuff_img img {
    max-width: 100%
}

.single_stuff_article {
    float: left;
    display: inline;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #bebebd;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #bebebd
}

.single_sarticle_inner {
    background-color: #dee8e6;
    display: inline;
    float: left;
    margin: -60px 20px 0;
    padding: 10px 20px;
    width: auto
}

.stuff_category {
    color: #444;
    display: inline-block;
    font-size: 10px;
    outline: medium none;
    text-decoration: none;
    text-transform: uppercase
}

.stuff_article_inner {
    float: left;
    display: inline;
    width: 100%
}

.stuff_date {
    background-color: #ffba08;
    border-radius: 3px;
    color: #fff;
    float: left;
    font-size: 14px;
    margin: 10px 15px 0 0;
    padding: 5px 8px;
    text-align: center;
    width: 56px
}

.stuff_date strong {
    font-size: 20px
}

.stuff_article_inner h2 {
    font-size: 24px;
    line-height: 1.5em;
    margin: 0;
    padding: 5px 0 0
}

.stuff_article_inner h2 > a {
    color: #444
}

.stuff_article_inner p {
    line-height: 1.5em;
    padding: 10px 0
}

@media(max-width:480px) {
    #searchForm input[type="text"] {
        width: 86%
    }
    .stuff_article_inner h2 > a {
        font-size: 20px
    }
    .footer_inner p {
        float: none;
        width: 100%;
        text-align: center
    }
    .similarpost_nav li {
        margin: 0 0 25px;
        padding: 0 2%;
        width: 100%
    }
}

@media(max-width:320px) {
    .stuff_article_inner h2 {
        line-height: 1em
    }
    .stuff_article_inner h2 > a {
        font-size: 16px
    }
}