<% include ../partials/header %>
    <section id="home" class="register-banner-1 bg-fixed parallax-bg overlay dark-7 fullscreen-banner valign-wrapper" data-stellar-background-ratio="0.5">
        <div class="valign-cell">
            <div class="container text-center padding-top-110">
              <div class="container container-donate">
                  <div class="text-center">
                      <h2 class="donate-title text-capitalize">Регистрация</h2>
                  </div>

                  <div class="row">
                      <div class="col-md-12">
                        <form class="white-form" method="get" action="http://www.goatse.info/">
                          <div class="input-field">
                              <input type="text" name="search" id="search">
                              <label for="search" class="">Ваше Имя</label>
                          </div>
                          <div class="input-field">
                              <input type="text" name="search" id="search">
                              <label for="search" class="">Ваша Фамилия</label>
                          </div>
                          <div class="input-field">
                              <input type="text" name="search" id="search">
                              <label for="search" class="">Никнейм</label>
                          </div>
                          <div class="input-field">
                              <input type="text" name="search" id="search">
                              <label for="search" class="">Ваш E-Mail</label>
                          </div>
                          <div class="input-field">
                              <input type="text" name="search" id="search">
                              <label for="search" class="">Номер телефона</label>
                          </div>
                          <div class="input-field">
                              <input type="text" name="search" id="search">
                              <label for="search" class="">Пароль</label>
                          </div>
                          <div class="input-field">
                              <input type="text" name="search" id="search">
                              <label for="search" class="">Повторите пароль</label>
                          </div>
                          <div class="input-field donate-field">
                              <button class="btn pink waves-effect waves-light btn-donate" type="submit" href="http://www.goatse.info/">Зарегистрироваться</button>
                          </div>
                        </form>
                      </div>
                      <!-- /.col-md-12 -->
                  </div>
                  <!-- /.row -->

              </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.valign-cell -->
    </section>
<% include ../partials/footer %>
