<% include ../partials/header %>
<link href="/static/lib/intl-tel-input/build/css/intlTelInput.css" rel="stylesheet">
<section class="registration">
  <div class="row">
    <div class="col-lg-7" style="border-right: 3px solid #333333;"  id="reg-form">
      <h1>Регистрация нового пользователя</h1>

      <form action="/users" class="form-horizontal" id="registrationForm" method="post">
        <div class="form-group">
          <label for="name" class="col-sm-4 control-label">Имя:</label>
          <div class="col-sm-6">
            <input type="text" name="user[firstName]" id="fName" class="form-control"
            placeholder="Имя" required>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-4 control-label">Фамилия: </label>
          <div class="col-sm-6">
            <input type="text" name="user[lastName]" id="lName" class="form-control"
            placeholder="Фамилия" required>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-4 control-label">Имя пользователя:</label>
          <div class="col-sm-6">
            <input type="text" name="user[userName]" id="userName" class="form-control"
            placeholder="Имя пользователя" required>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-4 control-label">Email:</label>
          <div class="col-sm-6">
            <input type="email" name="user[email]" id="email" class="form-control"
            placeholder="Адрес почтового ящика" required>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-4 control-label">Пароль:</label>
          <div class="col-sm-6">
            <input type="password" id="reg_password" name="user[password]" class="form-control" required
            placeholder="Пароль">
          </div>
        </div>
        <div class="form-group">
          <label for="password_confirm" class="col-sm-4 control-label">Повторите пароль:</label>
          <div class="col-sm-6">
            <input type="password" name="password_confirm" id="password_confirm" class="form-control"
            placeholder="Повторите пароль" required>
          </div>
        </div>
        <div class="form-group">
          <label for="phone" class="col-sm-4 control-label">Телефон:</label>
          <div class="col-sm-6">
            <input id="phone"  name="user[phone]" class="form-control" type="tel" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-6">
            <div class="checkbox">
              <label id="LabelConfirm" for="CheckBoxConfirm">
                <input type="checkbox" name="CheckBoxConfirm" id="CheckBoxConfirm" required/>
                Я принимаю <b><a href="#">Правила Использования</a></b>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-6">
            <button id='submit' type="submit" class="btn btn-primary">Регистрация</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-5">
      <h1>Войти в систему</h1>


      <form action="" class="form-horizontal" id="loginForm" method="post">
        <div class="form-group">
          <label class="col-sm-4 control-label">Имя пользователя:</label>
          <div class="col-sm-7">
            <input type="text" name="user[userName]" id="loginUserName" class="form-control" placeholder="Имя пользователя" required>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label">Пароль:</label>
          <div class="col-sm-7">
            <input type="password" id="loginPassword" name="user[password]" class="form-control" required placeholder="Пароль">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-6">
            <div class="checkbox">
              <label id="save" for="saveMe">
                <input type="checkbox" name="saveMe" id="saveMe" />
                Запомнить меня</a>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-6">
            <button id='submit' type="submit" class="btn btn-primary">Войти</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>
<% include ../partials/footer %>
<script type="text/javascript" src="../static/lib/js/validator.js"></script>
<script type="text/javascript" src="../static/js/user/new.js"></script>
<script type="text/javascript" src="../static/lib/intl-tel-input/build/js/intlTelInput.min.js"></script>
<script type="text/javascript" src="../static/lib/intl-tel-input/build/js/utils.js"></script>