<% include ../partials/header2 %>
<link href="/static/lib/intl-tel-input/build/css/intlTelInput.css" rel="stylesheet">
<section class="registration">


</section>

<% include ../partials/footer %>
<script type="text/javascript" src="../static/lib/js/validator.js"></script>
<script type="text/javascript" src="../static/js/user/new.js"></script>
<script type="text/javascript" src="../static/lib/intl-tel-input/build/js/intlTelInput.min.js"></script>
<script type="text/javascript" src="../static/lib/intl-tel-input/build/js/utils.js"></script>